<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <%= image_tag "template-neon-sign-light-banner-neon.jpg", size: "900x400", class: "img-fluid rounded" %>
    </div>
    <div class="col-lg-5">
      <%= t ".content_html" %>
      <%= link_to t(".signup_now_btn"), "#", class: "btn btn-primary" %>
    </div>
  </div>
</div>
<div class="card text-white bg-secondary my-5 py-4 text-center">
  <div class="card-body">
    <p class="text-white m-0"><%= t ".text_ex" %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <%= t ".card_1_html" %>
      </div>
      <div class="card-footer">
        <%= link_to t(".more_info_btn"), "#", class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <%= t ".card_2_html" %>
      </div>
      <div class="card-footer">
        <%= link_to t(".more_info_btn"), "#", class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-5">
    <div class="card h-100">
      <div class="card-body">
        <%= t ".card_3_html" %>
      </div>
      <div class="card-footer">
        <%= link_to t(".more_info_btn"), "#", class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
</div>
