<div class="container">
  <h2><%= @song.name %></h2>
  <table class="table table-hover">
    <tbody>
      <tr>
        <div class="row">
          <div class="col">
            <th><%= t "admin.songs.header.cate" %></th>
            <td><%= @song.category.name %></td>
          </div>
          <div class="col">
            <th><%= t "admin.songs.header.album" %></th>
            <td>
              <% @song.album_songs.each do |s| %>
                <%= s.album.name %>
                <br>
              <% end %>
            </td>
          </div>
        </div>
      </tr>
      <tr>
        <div class="row">
          <div class="col">
            <th><%= t "admin.songs.header.artist" %></th>
            <td><%= @song.artist %></td>
          </div>
          <div class="col">
            <th><%= t "admin.songs.header.rate" %></th>
            <td>
              <% @song.star_avg.to_i.times do %>
                <span class="fas fa-star"></span>
              <% end %>
              <% @song.blank_stars.to_i.times do %>
                <span class="far fa-star"></span>
              <% end %>
            </td>
          </div>
        </div>
      </tr>
      <tr>
        <div class="row">
          <div class="col">
            <th><%= t "admin.songs.header.cr_at" %></th>
            <td><%= l @song.created_at, format: :long %></td>
          </div>
          <div class="col">
            <th><%= t "admin.songs.header.desc" %></th>
            <td><%= @song.description %></td>
          </div>
        </div>
      </tr>
      <tr>
        <div class="row">
          <div class="col">
            <th><%= t "admin.songs.header.song" %></th>
            <td>
              <% if @song.song_file.attached? %>
                <%= link_to @song.song_file, class: "btn btn-primary", id: "link_down" do %>
                  <%= t "admin.songs.download_btn" %>
                <% end %>
              <% end %>
            </td>
          </div>
          <div class="col">
            <th><%= t "admin.songs.header.duration" %></th>
            <td id="length">0</td>
          </div>
        </div>
      </tr>
      <tr>
        <div class="row">
          <div class="col">
            <th><%= t "admin.songs.header.ctrl_btn" %></th>
            <td>
              <button id="play" class = "btn btn-success"><i class="fas fa-play"></i></button>
              <button id="pause" class = "btn btn-secondary"><i class="fas fa-pause"></i></button>
              <button id="restart" class = "btn btn-warning"><i class="fas fa-redo-alt"></i></button>
            </td>
          </div>
          <div class="col">
            <th><%= t "admin.songs.header.playing" %></th>
            <td id="currentTime">0</td>
          </div>
        </div>
      </tr>
    </tbody>
  </table>
  <h2><%= t "admin.songs.sound_info" %></h2>
  <div id="source"><%= t "admin.songs.src_file" %></div>
  <div id="status" style="color:red;"><%= t "admin.songs.stt_sound" %></div>
  <hr>
  <p id = "message_cmt"></p>
  <h4><%= t "admin.comments.add_cmt" %></h4>
  <%= render partial: "comments/comment_form", song: @song, comment: @comment %>
  <hr>
  <h2><%= t "admin.comments.cmts" %></h2>
  <div class="new-comment-container">
    <%= render partial: "comments/comment", collection: @song.comments.sort_by_create_at %>
  </div>
</div>
