<div class="container">
  <h2><%= t "layouts.header.my_song" %></h2>
  <table class="table table-hover">
    <thead>
    <tr>
      <th><%= t "layouts.header.name" %></th>
      <th><%= t "layouts.header.category" %></th>
      <th><%= t "layouts.header.created_h" %></th>
    </tr>
    </thead>
    <tbody class = "song_tbody_content">
    <%= render(@favorite_songs) || t("admin.songs.no_song") %>
    </tbody>
  </table>
</div>
