<div class="container">
  <h2><%= t "layouts.header.song" %></h2>
  <table class="table table-hover">
    <thead>
    <tr>
      <th><%= t "layouts.header.name" %></th>
      <th><%= t "layouts.header.category" %></th>
      <th><%= t "layouts.header.created_h" %></th>
      <th><%= t "layouts.header.updated_h" %></th>
    </tr>
    </thead>
    <tbody>
    <%= will_paginate @songs %>
    <%= render(@songs) || t("songs.no_song") %>
    </tbody>
  </table>
</div>
